<div class="form-group">
  <label for="{{id}}" class="control-label{{#if horizontal}} col-md-2{{/if}}">{{label}}</label>
  <div class="{{#if horizontal}} col-md-10{{/if}}">
    <input class="form-control" type="{{#if type}}{{type}}{{else}}text{{/if}}" id="{{id}}" name="{{id}}" placeholder="{{label}}">
  </div>
</div>